*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.container {
    border: 10px solid teal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}

#nav {
    border: 3px solid #008080;
    margin-top: 8px;
    display: inline-block;
}

a {
    color: #000;
    padding: 3px;
    margin-top: 5px;
    display: inline-block;
}

#img {
    border: 3px solid #000;
    display: inline-block;
}

.top.page {
    margin: 5px;
    border: 8px solid teal;
    text-align: center;
    background-color: #add8e6;
}

.ingredients {
    margin: 5px 5px 15px;
    padding: 20px;
    border: 8px dotted #add8e6;
    display: inline-block;
}

#about-recipe {
   margin: 8px;
   background-color: beige;
}

.description {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    border: 8px solid #add8e6;
}

.steps {
    padding: 15px 20px;
    border-top: 5px solid #add8e6;
}



