*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faebd7;
    padding: 40px;
    margin: 25px auto;
    border: 20px solid teal;
    text-align: center;
}

h1  {
    font-size: 50px;
}

h2  {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

a {
    border: 5px solid #008080;
    padding: 8px;
    color: black;
}

.card {
    display: inline-block;
    background-color: beige;
    padding: 15px;
    border: 10px solid #008080;
    margin: 5px;
}

.adobo,
.toast,
.scrambled {
    font-size: smaller;
}

.food {
    width: 400px;
    height: 360px;
    border: 5px solid #008080;
}